<div>
  <h1>Users list</h1>
  <% @users.each_with_index do |user, index| %>
  <ul>
    <li>
     <%=index + 1 %> -  Name: <b><%= user.name %> </b> Total post: <b><%= user.post_counter %></b>
    </li>
  </ul>

  <% end %>
</div>