<div>
  <h1>Post list</h1>
  <% @posts.each_with_index do |post, index| %>
  <ul>
    <li>
      <%=index + 1 %> - Title: <b><%= post.title %> </b> 
      <a href="/posts/<%=post.id %>">View more</a>
    </li>
  </ul>
  <% end %>
</div>
